{% load sekizai_tags cms_tags %}{% if request.toolbar.edit_mode %}
{# Code is only rendered in edit mode #}

{% comment %} CMS needs render_plugin to be called, but the plugins should not be
anywhere in the page. So we use a sekizai block which is never rendered {% endcomment %}
{% addtoblock "null" %}
<div class="plugin parent">
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
</div>
{% endaddtoblock "null" %}

{% addtoblock "css" %}
{% include 'djangocms_inline_comment/inline_comment_style.html' %}
{% endaddtoblock %}{% endif %}